<h1 class="title text-center p-5">マイページ</h1>
<div class="container">
  <div class="row p-2">
      <span class="col-1.8">会員情報</span>
      <span class="col-2">
        <%= link_to "編集する", edit_customer_path(current_customer), class: "btn btn-info" %>
      </span>
  </div>

  <div class="row p-3">
    <div class="col-7">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="info col-3 bg-light">氏名</td>
            <td class="text-left"><%= @customer.name %></td>
          </tr>
          <tr>
              <td class="info col-3 bg-light">フリガナ</td>
              <td class="text-left"><%= @customer.name_kana %></td>
          </tr>
          <tr>
            <td class="info col-3 bg-light">郵便番号</td>
            <td class="text-left"><%= @customer.postal_cord %></td>
          </tr>
          <tr>
            <td class="info col-3 bg-light">住所</td>
            <td class="text-left"><%= @customer.address %></td>
          </tr>
          <tr>
            <td class="info col-3 bg-light">電話番号</td>
            <td class="text-left"><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <td class="info col-3 bg-light">メールアドレス</td>
            <td class="text-left"><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row p-2">
    <span class="col-1.8">予約情報</span>
    <span class="col-2"><%= link_to "一覧表示", reserves_path, class: "btn btn-info" %></span>
    <span class="col-1.8">お気に入り</span>
    <span class="col-2"><%= link_to "一覧表示", favorites_index_path, class: "btn btn-info" %></span>
  </div>
</div>
