<h2 class="text-center">ARTIST情報編集</h2>

<div class="container">
  <%= form_with model: @artist, url: admin_information_path(@information.id), method: :patch, local:true do |f| %>

    <div class="row pt-5">
      <div class="col-3 offset-1"><%= f.label :名前 %></div>
      <div class="col-6"><%= f.text_field :name, class:"form-control"%></div>
    </div>

    <div class="row pt-5">
      <div class="col-3 offset-1"><%= f.label :パート %></div>
      <div class="col-6"><%= f.text_field :part_id, class:"form-control"%></div>
    </div>

    <div class="row pt-5">
      <div class="col-5 offset-5"><%= f.submit "変更内容を保存", class: "btn btn-success" %></div>
      <div class="col-2 pt-5"><%= link_to '削除する', admin_artist_path(@artist.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger btn-sm"%></div>
    </div>
  <% end %>
</div>
