<h1 class="title text-center p-5">INFORMATION</h1>

<div class="container">
  <div class="row pt-5">
    <div class="col-2 offset-1">
      <%= link_to "新規作成", new_admin_information_path, class: "btn btn-info" %>
    </div>
  </div>

  <div class="row p-5">
    <table class="table table-hover">
      <% @informations.each do |information| %>
        <tr>
          <td><%= information.date %></td>
          <td>
            <%= link_to admin_information_path(information.id) do %>
              <%= information.title %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
      <%= paginate @informations %>
  </div>
</div>
