<h2 class="text-center">INFORMATION</h2>

<div class="container">
    <div class="row">
        <div class="col-2"><%= @information.date %></div>
        <div class="col-2"><%= @information.title %></div>
    </div>
        <div class="row">
        <div class="col-2"><%= @information.content %></div>
    </div>
    
    <div class="row pt-5">
      <div class="col-5 offset-5"><%= link_to '編集する', edit_admin_information_path, class: "btn btn-danger btn-sm"%></div>
      <div class="col-2 pt-5"><%= link_to '削除する', admin_information_path, method: :delete, class: "btn btn-danger btn-sm"%></div>
    </div>
</div>