<!--##########################################管理者ログイン中##########################################-->
<% if admin_signed_in? %>
<div class="container p-0">
  <div class="background-top">
    <div class="row">

      <div class="col-9 p-0">
        <div id="container">
          <div id="images">
            <div class="image1"></div>
            <div class="image2"></div>
            <div class="image3"></div>
          </div>
        </div>
      </div>

      <div class="col-3 p-3 d-flex align-items-end">
        <table class=" table table-borderless text-center text-light">
          <tr><th><h3>オンライン予約</h3></th></td>
          <tr><td><%= link_to "ライブスケジュール", admin_schedules_path, class: "btn btn-dark" %></td></td>
          <tr><td>
            電話予約<br/>
            000-000-0000
          <tr></td>
          <tr><td>
            ※電話でのご予約は、<br/>
            営業時間内にお願いします。
          </td></td>
          <tr><td><%= link_to "初めての方へ", admin_house_rules_index_path, class: "btn btn-dark" %></td></tr>
        </table>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <h1 class="text-center pt-5">Today's Live!</h1>
  <div class="row p-5">
    <% if @schedule.present? %>
      <div class="col-4 d-flex align-items-center">
        <div class="schedule-image">
          <%= attachment_image_tag @schedule, :image, width: '100%', height: '100%', fomat: 'jpeg' %>
        </div>
      </div>
      <div class="col-8">
        <table class="table table-bordered bg-light">
          <tbody>
            <tr>
              <td class="info">TITLE</td>
              <td class="text-left"><%= @schedule.title %></td>
            </tr>
            <tr>
                <td class="info">DATE</td>
                <td class="text-left"><%= @schedule.date %></td>
            </tr>
            <tr>
              <td class="info">TIME</td>
              <td class="text-left"><%= @schedule.time %></td>
            </tr>
            <tr>
              <td class="info">CHARGE</td>
              <td class="text-left"><%= @schedule.charge %></td>
            </tr>
            <tr>
              <td class="info">MEMBER</td>
              <td class="text-left">
                <% @schedule.relationships.each do |relationship| %>
                  <%= relationship.artist.name %>
                  （<%= relationship.artist.part.part_name %>）<br />
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="info">OTHER</td>
              <td class="text-left"><%= @schedule.other %></td>
            </tr>
          </tbody>
        </table>
        <%= link_to "詳細はこちら", admin_schedule_path(@schedule), class: "btn btn-outline-dark btn-block" %>
      </div>
    <% else %>
      <div class="col-12 text-center">
        <h1>本日は「BAR TIME」営業です。</h1>
      </div>
    <% end %>
  </div>

  <div class="row pb-5">
    <div class="col-12">
      <table class="table table-hover text-center">
        <h1 class="text-center pt-5">INFORMATION</h1>
        <% @informations.last(10).reverse_each do |information| %>
          <tr><th><%= link_to information.date, admin_information_path(information.id), class: "text-dark" %>     <%= link_to information.title, admin_information_path(information.id), class: "text-dark" %></th></tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<!--##################################################################################################-->
<!--##########################################会員ログイン中##########################################-->
<% elsif customer_signed_in? %>
<div class="container p-0">
  <div class="background-top">
    <div class="row">

      <div class="col-9 p-0">
        <div id="container">
          <div id="images">
            <div class="image1"></div>
            <div class="image2"></div>
            <div class="image3"></div>
          </div>
        </div>
      </div>

      <div class="col-3 p-3 d-flex align-items-end">
        <table class=" table table-borderless text-center text-light">
          <tr><th><h3>オンライン予約</h3></th></td>
          <tr><td><%= link_to "ライブスケジュール", schedules_path, class: "btn btn-dark" %></td></td>
          <tr><td>
            電話予約<br/>
            000-000-0000
          <tr></td>
          <tr><td>
            ※電話でのご予約は、<br/>
            営業時間内にお願いします。
          </td></td>
          <tr><td><%= link_to "初めての方へ", house_rules_index_path, class: "btn btn-dark" %></td></tr>
        </table>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <h1 class="text-center pt-5">Today's Live!</h1>
  <div class="row p-5">
    <% if @schedule.present? %>
      <div class="col-4 d-flex align-items-center">
        <div class="schedule-image">
          <%= attachment_image_tag @schedule, :image, width: '100%', height: '100%', fomat: 'jpeg' %>
        </div>
      </div>
      <div class="col-8">
        <table class="table table-bordered bg-light">
          <tbody>
            <tr>
              <td class="info">TITLE</td>
              <td class="text-left"><%= @schedule.title %></td>
            </tr>
            <tr>
                <td class="info">DATE</td>
                <td class="text-left"><%= @schedule.date %></td>
            </tr>
            <tr>
              <td class="info">TIME</td>
              <td class="text-left"><%= @schedule.time %></td>
            </tr>
            <tr>
              <td class="info">CHARGE</td>
              <td class="text-left"><%= @schedule.charge %></td>
            </tr>
            <tr>
              <td class="info">MEMBER</td>
              <td class="text-left">
                <% @schedule.relationships.each do |relationship| %>
                  <%= relationship.artist.name %>
                  （<%= relationship.artist.part.part_name %>）<br />
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="info">OTHER</td>
              <td class="text-left"><%= @schedule.other %></td>
            </tr>
          </tbody>
        </table>
        <%= link_to "詳細はこちら", schedule_path(@schedule), class: "btn btn-outline-dark btn-block" %>
      </div>
    <% else %>
      <div class="col-12 text-center">
        <h1>本日は「BAR TIME」営業です。</h1>
      </div>
    <% end %>
  </div>

<div class="container">
  <div class="row pb-5">
    <div class="col-12">
      <table class="table table-hover text-center">
        <h1 class="text-center pt-5">INFORMATION</h1>
        <% @informations.last(10).reverse_each do |information| %>
          <tr><th><%= link_to information.date, information_path(information.id), class: "text-dark" %>     <%= link_to information.title, information_path(information.id), class: "text-dark" %></th></tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<!--########################################################################################################-->
<!--##########################################ログインしていない時##########################################-->
<% else %>
<div class="container p-0">
  <div class="background-top">
    <div class="row">

      <div class="col-9 p-0">
        <div id="container">
          <div id="images">
            <div class="image1"></div>
            <div class="image2"></div>
            <div class="image3"></div>
          </div>
        </div>
      </div>

      <div class="col-3 p-3 d-flex align-items-end">
        <table class=" table table-borderless text-center text-light">
          <tr><th><h3>オンライン予約</h3></th></td>
          <tr><td><%= link_to "ライブスケジュール", schedules_path, class: "btn btn-dark" %></td></td>
          <tr><td>
            電話予約<br/>
            000-000-0000
          <tr></td>
          <tr><td>
            ※電話でのご予約は、<br/>
            営業時間内にお願いします。
          </td></td>
          <tr><td><%= link_to "初めての方へ", house_rules_index_path, class: "btn btn-dark" %></td></tr>
        </table>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <h1 class="text-center pt-5">Today's Live!</h1>
  <div class="row p-5">
    <% if @schedule.present? %>
      <div class="col-4 d-flex align-items-center">
        <div class="schedule-image">
          <%= attachment_image_tag @schedule, :image, width: '100%', height: '100%', fomat: 'jpeg' %>
        </div>
      </div>
      <div class="col-8">
        <table class="table table-bordered bg-light">
          <tbody>
            <tr>
              <td class="info">TITLE</td>
              <td class="text-left"><%= @schedule.title %></td>
            </tr>
            <tr>
                <td class="info">DATE</td>
                <td class="text-left"><%= @schedule.date %></td>
            </tr>
            <tr>
              <td class="info">TIME</td>
              <td class="text-left"><%= @schedule.time %></td>
            </tr>
            <tr>
              <td class="info">CHARGE</td>
              <td class="text-left"><%= @schedule.charge %></td>
            </tr>
            <tr>
              <td class="info">MEMBER</td>
              <td class="text-left">
                <% @schedule.relationships.each do |relationship| %>
                  <%= relationship.artist.name %>
                  （<%= relationship.artist.part.part_name %>）<br />
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="info">OTHER</td>
              <td class="text-left"><%= @schedule.other %></td>
            </tr>
          </tbody>
        </table>
        <%= link_to "詳細はこちら", schedule_path(@schedule), class: "btn btn-outline-dark btn-block" %>
      </div>
    <% else %>
      <div class="col-12 text-center">
        <h1>本日は「BAR TIME」営業です。</h1>
      </div>
    <% end %>
  </div>

<div class="container">
  <div class="row pb-5">
    <div class="col-12">
      <table class="table table-hover text-center">
        <h1 class="text-center pt-5">INFORMATION</h1>
        <% @informations.last(10).reverse_each do |information| %>
          <tr><th><%= link_to information.date, information_path(information.id), class: "text-dark" %>     <%= link_to information.title, information_path(information.id), class: "text-dark" %></th></tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<% end %>