<!DOCTYPE html>
<html>
  <head>
    <title>Jazzbar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="background">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>

<%#= render partial: '' %>

<!--管理者ログイン中########################################################################-->
<%# if admin_signed_in? %>

<!--会員ログイン中##########################################################################-->
<%# elsif customer_signed_in? %>

<!--ログインしていない時####################################################################-->
<%# else %>

<%# end %>