<!DOCTYPE html>
<html>
  <head>
    <title>Jazzbar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!--ヘッダー-->
    <header>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          
          <!--ロゴマーク-->
          <%= link_to "Jazzbar", root_path, class: "navbar-brand"  %>
          
          <!--ヘッダーメニュー-->
          
          <!--ハンバーガーメニュー-->
          <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navmenu1"
            aria-controls="navmenu1"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navmenu1">
            <div class="navbar-nav text-right">
              <%= link_to "About", about_path, class: "nav-item nav-link" %>
              <%= link_to "Information", informations_path, class: "nav-item nav-link" %>
              <%= link_to "House rule", house_rules_index_path, class: "nav-item nav-link" %>
              <%= link_to "Access", access_path, class: "nav-item nav-link" %>
              <%= link_to "お問い合わせ", root_path, class: "nav-item nav-link" %>
            </div>
          </div>
          
        </div>
      </nav>
    </header>
  <!--ヘッダー-->

    <%= yield %>

  <!--フッター-->
    <footer class="bg-dark p-5 mt-5 text-white">
      <div class="container">
        <div class="text-center">
          <span>Follow us</span>
          <%= link_to root_path do %>
            <span><i class="fab fa-twitter-square fa-3x"></i></span>
          <% end %>
          <%= link_to root_path do %>
            <span><i class="fab fa-youtube-square fa-3x"></i></span>
            <% end %>
          <%= link_to root_path do %>
            <span><i class="fab fa-facebook-square fa-3x"></i></span>
          <% end %>
        </div>
        <div class="text-center">Copyright © 2021 Jazz bar Inc. All Rights Reserved.</div>
      </div>
    </footer>
  <!--フッター-->
  </body>
</html>
